@model ifox_site.Models.BlogViewModel

<section class="container mt-5 pt-5">

    <!-- Blog Header -->
    <div class="text-center mb-4">
        <h1>@Model.Title</h1>
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h4 class="blog-sub">@Model.ShortDescription</h4>
            </div>
        </div>
        <p class="text-muted">@Model.Date | @Model.Author</p>
    </div>
   
    <iframe src="@Url.Content(Model.HtmlFile)"
            style="width:100%; height:1500px;">
    </iframe>



</section>
