@model ifox_site.Models.SendMailViewModel
@{
    ViewBag.Title = "Index";
}

<section id="dummyspace">

    <div class="container">
    </div>

</section>
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Have any idea or project for in your mind call us or schedule a appointment. Our representative will reply you shortly.</p>
        </div>
        <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt logomargin" ></i>
                        <h5>Location:</h5>
                        <p align="left"> 3/4A, Sri Annai Meenakshi Nagar, Keelpanangadi, Kulamangalam Main Road, Vagai Kulam Post, Madurai - 625017 </p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope logomargin" ></i>
                        <h5>Email:</h5>
                        <a href="mailto:info@ifox.co.in">
                            info@ifox.co.in
                        </a>

                    </div>
                    <br />
                    <div class="phone">
                        <i class="bi bi-phone logomargin" ></i>
                        <h5>Call:</h5>
                        <a href="tel:+919597 892 118">
                            +91 9597 892 118
                        </a>
                    </div>
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.3662784277618!2d78.11982536949823!3d9.978384320201451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c7fbd209998b%3A0x1b07ebaa5c2dc60b!2sifox%20consultancy%20services!5e0!3m2!1sen!2sin!4v1684409530643!5m2!1sen!2sin" height="450" style="border:0;width:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form id="contact-form" asp-controller="Contact" asp-action="SendEmail" method="post" role="form" class="php-email-form" onsubmit="return validateAndSubmit()">
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.Name">Your Name</label>
                            <input type="text" asp-for="@Model.Name" class="form-control" name="name" id="name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="@Model.Email">Your Email</label>
                            <input type="text" asp-for="@Model.Email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Subject">Subject</label>
                        <input type="text" asp-for="@Model.Subject" class="form-control" name="subject" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Contact">Contact No.</label>
                        <input type="text" asp-for="@Model.Contact" class="form-control" name="Contact" id="Contact" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Attachments">Attachment</label>
                        <input type="file" asp-for="@Model.Attachments" style="height:100%" class="form-control" name="file" id="Attachments">
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Message">Message</label>
                        <textarea class="form-control" asp-for="@Model.Message" name="message" id="message" rows="10" required></textarea>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Lcm938qAAAAANLYOZWtf5LF4ACzDyfQLoghfpf3" id="recaptcha-widget"></div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->
<script>
    function validateAndSubmit() {
        // Check if reCAPTCHA is completed
        const response = grecaptcha.getResponse();
        if (response.length === 0) {
            return false;
        }
        return true; // Allow form submission
    }
    // Reload the reCAPTCHA widget after form submission
    document.getElementById("contact-form").addEventListener("submit", function (e) {
        setTimeout(function () {
            grecaptcha.reset(); // Reset the reCAPTCHA widget
        }, 100); // Small delay to ensure it triggers after form submission
    });
</script>
